In [ ]:
pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)

In [ ]:
from textblob import TextBlob
# VADER can be accessed by the NLTK library.
import nltk
# Download the VADAR tool and access it through the NLTK library.
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import tweepy
import re

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
feb_11_2021 = pd.read_csv('/content/drive/MyDrive/FMT 6/Data frames/11-02-2021.csv')
feb_11_2021.head(1)

   Unnamed: 0  ... extended_tweet
0           0  ...            NaN

[1 rows x 41 columns]

In [ ]:
#cleaning the tweets
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)        
    return input_txt
def clean_tweets(tweets):
    #remove twitter Return handles (RT @xxx:)
    tweets = np.vectorize(remove_pattern)(tweets, "RT @[\w]*:") 
    
    #remove twitter handles (@xxx)
    tweets = np.vectorize(remove_pattern)(tweets, "@[\w]*")
    
    #remove URL links (httpxxx)
    tweets = np.vectorize(remove_pattern)(tweets, "https?://[A-Za-z0-9./]*")
    
    #remove special characters, numbers, punctuations (except for #)
    tweets = np.core.defchararray.replace(tweets, "[^a-zA-Z]", " ")
    
    return tweets

In [ ]:
feb_11_2021['text'] = clean_tweets(feb_11_2021['text'])
feb_11_2021['text'].head()

0     #BreakingNews ðŸ“° \n\n#Bitcoin On the Verge of ...
1    #Bitcoin is free market revolution without vio...
2                                            #Bitcoin
3     Venezuela, entre los 10 paÃ­ses con mayor mine...
4     Someone just transfered 19,600 #bitcoin in on...
Name: text, dtype: object

In [ ]:
scores = []
# Declare variables for scores
compound_list = []
positive_list = []
negative_list = []
neutral_list = []
for i in range(feb_11_2021['text'].shape[0]):
#print(analyser.polarity_scores(sentiments_pd['text'][i]))
    compound = analyzer.polarity_scores(feb_11_2021['text'][i])["compound"]
    pos = analyzer.polarity_scores(feb_11_2021['text'][i])["pos"]
    neu = analyzer.polarity_scores(feb_11_2021['text'][i])["neu"]
    neg = analyzer.polarity_scores(feb_11_2021['text'][i])["neg"]
    
    scores.append({"Compound": compound,
                       "Positive": pos,
                       "Negative": neg,
                       "Neutral": neu
                  })

In [ ]:
sentiments_score = pd.DataFrame.from_dict(scores)
feb_11_2021 = feb_11_2021.join(sentiments_score)
feb_11_2021.head()

   Unnamed: 0                                       _api  ... Negative Neutral
0           0  <tweepy.api.API object at 0x7f1009867e90>  ...      0.0   1.000
1           1  <tweepy.api.API object at 0x7f1009867e90>  ...      0.0   0.431
2           2  <tweepy.api.API object at 0x7f1009867e90>  ...      0.0   1.000
3           3  <tweepy.api.API object at 0x7f1009867e90>  ...      0.0   0.921
4           4  <tweepy.api.API object at 0x7f1009867e90>  ...      0.0   1.000

[5 rows x 45 columns]

In [ ]:
feb_11_2021.lang.value_counts()

en     470
es      10
und      7
ja       6
fr       3
tr       2
pt       1
de       1
Name: lang, dtype: int64

In [ ]:
feb_11_2021[['created_at','id','text','Compound','Positive','Negative','Neutral']]

              created_at                   id  ... Negative  Neutral
0    2021-02-11 23:59:59  1360015761188782080  ...      0.0    1.000
1    2021-02-11 23:59:59  1360015760635154434  ...      0.0    0.431
2    2021-02-11 23:59:59  1360015758751911939  ...      0.0    1.000
3    2021-02-11 23:59:58  1360015756805746689  ...      0.0    0.921
4    2021-02-11 23:59:57  1360015752019857408  ...      0.0    1.000
..                   ...                  ...  ...      ...      ...
495  2021-02-11 23:55:33  1360014642563670020  ...      0.0    1.000
496  2021-02-11 23:55:32  1360014638595801088  ...      0.0    0.859
497  2021-02-11 23:55:32  1360014637702344708  ...      0.0    1.000
498  2021-02-11 23:55:32  1360014637304057856  ...      0.0    1.000
499  2021-02-11 23:55:30  1360014632568557570  ...      0.0    0.894

[500 rows x 7 columns]

In [ ]:
feb_11_2021['compound'][1]

KeyError: ignored

In [ ]:
str(feb_11_2021['created_at'][0])[0:10]

'2021-02-11'

In [ ]:
#chipotle_df.item_price = chipotle_df.item_price.map(lambda n: float(n.replace('$','')))
feb_11_2021['date'] = feb_11_2021.created_at.map(lambda d: str(d)[0:10])

In [ ]:
feb_11_2021[['created_at','date']]

              created_at        date
0    2021-02-11 23:59:59  2021-02-11
1    2021-02-11 23:59:59  2021-02-11
2    2021-02-11 23:59:59  2021-02-11
3    2021-02-11 23:59:58  2021-02-11
4    2021-02-11 23:59:57  2021-02-11
..                   ...         ...
495  2021-02-11 23:55:33  2021-02-11
496  2021-02-11 23:55:32  2021-02-11
497  2021-02-11 23:55:32  2021-02-11
498  2021-02-11 23:55:32  2021-02-11
499  2021-02-11 23:55:30  2021-02-11

[500 rows x 2 columns]